.characters_container {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 20px
}

.person a {
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}
.person a:hover {
 color: rgb(251, 255, 32);
}

.person__species {
    color: rgb(251, 255, 19);
}