.navbar{
    padding: 50px;
    background-color: rgb(0, 177, 9);
}

.link {
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 48, 119);
    margin-right: 10px;
    transition: 0.3s
}

.link:hover {
    text-decoration: underline;
    color: rgb(248, 232, 0);
}
.active {
    color: rgb(248, 232, 0);
}